@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

body {
  @apply font-sans;
}

.title {
  @apply font-bold text-[20px];
}

.title-description {
  @apply font-normal font-sans text-zinc-600 text-[12px];
}

.small-description {
  @apply font-normal font-sans text-zinc-600 text-[12px];
}

.link {
  @apply font-semibold text-[16px] text-blue-800 cursor-pointer underline;
}

.link-text {
  @apply font-semibold text-[16px] text-blue-800 cursor-pointer underline;
}
